<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>my-template-page</title>
    <link href="../static/css/mycss.css"
          th:href="@{/css/mycss.css}"
          rel="stylesheet" media="screen" />
</head>
<body>

    <div class="container">
        <div class="starter-template">
            <h1>Spring Boot Web Thymeleaf Page</h1>
            <h2><a th:href="@{/data.json}">Data</a> in json</h2>
            <h2><a th:href="@{/data.xml}">Data</a> in xml</h2>
            <h2><a th:href="@{/environmentProfile}">EnvironmentProfile</a> based on the loaded profiles</h2>
            <h2><a th:href="@{/myapplicationproperties}">Myapplicationproperties</a> defined in a class and populated by application.yml</h2>




            <h2><a th:href="@{/my-mustache-page}">Mustache</a> page</h2>

            <h2><a th:href="@{#}" onclick="doPost('/responseEntity', '{}', 'application/json')">ResponseEntity (AJAX POST. See network in console)</a> page</h2>

            <br/><br/>


            <h2><a th:href="@{/requestParam?myqueryParam=a123}"> RequestParam (with myqueryParam = a123 and myDefaultQueryParam missing)</a> page</h2>
            <h2><a th:href="@{/pathParam/onlyParam123}">PathParam ({onlyParam123})</a> page</h2>
            <h2><a th:href="@{/date}">Date (ResponseBody)</a> page</h2>
            <h2><a th:href="@{/localTime}">LocalTime (LocalTime Bean)</a> page</h2>

            <br/><br/>

            <!--logger-->
            <h2><a th:href="@{/myLogger}">/myLogger</a> page</h2>

            <h2><a th:href="@{/principal}">Principal</a> page</h2>

            <br/><br/>

            <!--cache-->
            <!--<h2><a th:href="@{/javaxCachedData}">JavaxCachedData</a> page (reads random generated int. Refresh the page.)</h2>-->
            <h2><a th:href="@{/ehCachedData}">EhCachedData</a> page (reads random generated int. Refresh the page.)</h2>

            <br/><br/>

            <!--error handling-->
            <h2><a th:href="@{/myCustomControllerException}">MyCustomControllerException</a> page (throws MyCustomControllerException.)</h2>
            <h2><a th:href="@{/myCustomControllerExceptionWithErrorAdvice}">MyCustomControllerExceptionWithErrorAdvice</a> page (throws myCustomControllerExceptionWithErrorAdvice, handled by ControlerAdvice)</h2>

            <br/><br/>

            <!--SQL-->
            <h2><a th:href="@{/jdbcTemplateData}">JdbcTemplateData</a> page</h2>
            <h2><a th:href="@{/jdbcTemplateData2}">JdbcTemplateData2</a> page</h2>
            <h2><a th:href="@{/entityManagerData}">EntityManagerData</a> page</h2>
            <h2><a th:href="@{/stockRepositoryData/C2}">SQL StockRepository</a>(get one StockEntity by symbol "C2")</h2>

            <br/><br/>

            <!--NoSQL-->
            <h2><form action="#" th:action="@{/toolRepositoryData/T3}" method="post"><input type="submit" value="NoSQL ToolRepository"/><span>(create a ToolDocument with symbol "T3")</span></form></h2>
            <h2><a th:href="@{/toolMongoDbFactoryData/T3}">NoSQL ToolMongoDbFactory</a>(get one DBObject by symbol "T3")</h2>
            <h2><a th:href="@{/toolMongoTemplateData/T3}">NoSQL ToolMongoTemplate</a>(get one ToolDocument by symbol "T3")</h2>
            <h2><a th:href="@{/toolRepositoryData/T3}">NoSQL ToolRepository</a>(get one ToolDocument by symbol "T3")</h2>

            <h2><a th:href="@{/logout}">Logout</a> (you might want to logout from the OAuth provider too)</h2>

            <br/><br/>


            <h1>Actuator</h1>
            <h2><a th:href="@{/act}">/act</a></h2>
            <h2><a th:href="@{/act/info}">/act/info</a></h2>
            <h2><a th:href="@{/act/health}">/act/health</a></h2>
            <h2><a th:href="@{/act/metrics}">/act/metrics</a>(with `customCounter` field)</h2>
            <h2><a th:href="@{/act/myCustomActuatorEndpoint}">/act/myCustomActuatorEndpoint</a></h2>
            <h2><a th:href="@{/act/env}">/act/env</a></h2>
            <h2><a th:href="@{/act/logfile}">/act/logfile</a></h2>
            <h2><a th:href="@{/act/mappings}">/act/mappings</a></h2>

            <br/><br/>

            <h1>Stock JSON REST on /stocks</h1>
            <h2>See Postman SpringBootSnippets Group</h2>

        </div>
    </div>
<script>
    function doPost(path, body, contentType) {
        const xhttp = new XMLHttpRequest();
        xhttp.open("POST", path, true);
        xhttp.setRequestHeader("Content-type", contentType);
        xhttp.send(body);
    }
</script>
</body>
</html>
